/* Code tidied up by ScrapBook */
.flash { position: relative; padding: 16px; color: rgb(3, 47, 98); background-color: rgb(219, 237, 255); border: 1px solid rgba(27, 31, 35, 0.15); border-radius: 3px; }
.flash-close { float: right; padding: 16px; margin: -16px; color: inherit; text-align: center; cursor: pointer; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: 0px none; -moz-appearance: none; opacity: 0.6; }
.flash-close:hover { opacity: 1; }
.flash-warn { color: rgb(115, 92, 15); background-color: rgb(255, 251, 221); border-color: rgba(27, 31, 35, 0.15); }
.flash-error { color: rgb(134, 24, 29); background-color: rgb(255, 220, 224); border-color: rgba(27, 31, 35, 0.15); }
.flash-full { margin-top: -1px; border-width: 1px 0px; border-radius: 0px; }
.avatar { display: inline-block; overflow: hidden; line-height: 1; vertical-align: middle; border-radius: 3px; }
.Counter { display: inline-block; padding: 2px 5px; font-size: 12px; font-weight: 600; line-height: 1; color: rgb(88, 96, 105); background-color: rgba(27, 31, 35, 0.08); border-radius: 20px; }
.markdown-body { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 16px; line-height: 1.5; overflow-wrap: break-word; }
.markdown-body::before { display: table; content: ""; }
.markdown-body::after { display: table; clear: both; content: ""; }
.markdown-body > :first-child { margin-top: 0px !important; }
.markdown-body > :last-child { margin-bottom: 0px !important; }
.markdown-body .anchor { float: left; padding-right: 4px; margin-left: -20px; line-height: 1; }
.markdown-body .anchor:focus { outline: medium none; }
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre { margin-top: 0px; margin-bottom: 16px; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { margin-top: 24px; margin-bottom: 16px; font-weight: 600; line-height: 1.25; }
.markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link { color: rgb(27, 31, 35); vertical-align: middle; visibility: hidden; }
.markdown-body h1:hover .anchor, .markdown-body h2:hover .anchor, .markdown-body h3:hover .anchor, .markdown-body h4:hover .anchor, .markdown-body h5:hover .anchor, .markdown-body h6:hover .anchor { text-decoration: none; }
.markdown-body h1:hover .anchor .octicon-link, .markdown-body h2:hover .anchor .octicon-link, .markdown-body h3:hover .anchor .octicon-link, .markdown-body h4:hover .anchor .octicon-link, .markdown-body h5:hover .anchor .octicon-link, .markdown-body h6:hover .anchor .octicon-link { visibility: visible; }
.markdown-body h2 { padding-bottom: 0.3em; font-size: 1.5em; border-bottom: 1px solid rgb(234, 236, 239); }
.markdown-body ul, .markdown-body ol { padding-left: 2em; }
.markdown-body code, .markdown-body tt { padding: 0.2em 0px; margin: 0px; font-size: 85%; background-color: rgba(27, 31, 35, 0.05); border-radius: 3px; }
.markdown-body code::before, .markdown-body code::after, .markdown-body tt::before, .markdown-body tt::after { letter-spacing: -0.2em; content: " "; }
.markdown-body pre { overflow-wrap: normal; }
.markdown-body pre > code { padding: 0px; margin: 0px; font-size: 100%; word-break: normal; white-space: pre; background: transparent none repeat scroll 0% 0%; border: 0px none; }
.markdown-body .highlight pre, .markdown-body pre { padding: 16px; overflow: auto; font-size: 85%; line-height: 1.45; background-color: rgb(246, 248, 250); border-radius: 3px; }
.markdown-body pre code, .markdown-body pre tt { display: inline; padding: 0px; margin: 0px; overflow: visible; line-height: inherit; overflow-wrap: normal; background-color: transparent; border: 0px none; }
.markdown-body pre code::before, .markdown-body pre code::after, .markdown-body pre tt::before, .markdown-body pre tt::after { content: normal; }
.ajax-error-message { position: fixed; top: -200px; left: 50%; z-index: 9999; display: none; width: 974px; margin: 0px 3px 0px -487px; transition: top 0.5s ease-in-out 0s; }
.ajax-error-message > .octicon-alert { vertical-align: text-top; }
.breadcrumb { margin-bottom: 10px; font-size: 18px; color: rgb(88, 96, 105); }
.breadcrumb .separator::before, .breadcrumb .separator::after { content: " "; }
.breadcrumb strong.final-path { color: rgb(36, 41, 46); }
.breadcrumb .repo-root { font-weight: 600; }
.starring-container .unstarred, .starring-container.on .starred { display: block; }
.starring-container.on .unstarred, .starring-container .starred { display: none; }
.btn-octicon { display: inline-block; padding: 5px; margin-left: 5px; line-height: 1; color: rgb(88, 96, 105); vertical-align: middle; background: transparent none repeat scroll 0% 0%; border: 0px none; }
.btn-octicon:hover { color: rgb(3, 102, 214); }
.btn-octicon-danger:hover { color: rgb(203, 36, 49); }
.commit-tease { position: relative; padding: 10px; margin-bottom: -1px; font-size: 13px; line-height: 20px; color: rgb(88, 96, 105); background-color: rgb(241, 248, 255); border: 1px solid rgb(200, 225, 255); border-radius: 3px 3px 0px 0px; }
.commit-tease .muted-link { color: inherit; }
.commit-tease .message { color: inherit; }
.commit-tease .avatar { margin-top: -1px; }
.commit-tease-sha { display: inline-block; font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 90%; color: rgb(68, 77, 86); }
.commit-tease-contributors { padding: 5px 10px; margin: 10px -10px -10px; background-color: rgb(255, 255, 255); border-top: 1px solid rgb(190, 223, 255); border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.commit-tease-contributors::before { display: table; content: ""; }
.commit-tease-contributors::after { display: table; clear: both; content: ""; }
.commit-tease-contributors .contributors-toggle { float: left; margin-right: 10px; }
.dropdown { position: relative; }
.dropdown-caret { display: inline-block; width: 0px; height: 0px; vertical-align: middle; content: ""; border-width: 4px; border-style: solid; border-color: currentcolor transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 100; width: 160px; padding-top: 5px; padding-bottom: 5px; margin-top: 2px; list-style: outside none none; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(27, 31, 35, 0.15); border-radius: 4px; box-shadow: 0px 3px 12px rgba(27, 31, 35, 0.15); }
.dropdown-menu::before, .dropdown-menu::after { position: absolute; display: inline-block; content: ""; }
.dropdown-menu::before { border-width: 8px; border-style: solid; border-color: transparent transparent rgba(27, 31, 35, 0.15); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.dropdown-menu::after { border-width: 7px; border-style: solid; border-color: transparent transparent rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.dropdown-item { display: block; padding: 4px 10px 4px 15px; overflow: hidden; color: rgb(36, 41, 46); text-overflow: ellipsis; white-space: nowrap; }
.dropdown-item:hover, .dropdown-item.zeroclipboard-is-hover { color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(3, 102, 214); }
.dropdown-item:hover > .octicon, .dropdown-item.zeroclipboard-is-hover > .octicon { color: inherit; opacity: 1; }
.dropdown-signout { width: 100%; text-align: left; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: 0px none; }
.dropdown-divider { height: 1px; margin: 8px 1px; background-color: rgb(225, 228, 232); }
.dropdown-header { padding: 4px 15px; font-size: 12px; color: rgb(88, 96, 105); }
.dropdown-menu-content { display: none; }
.dropdown-menu-sw { right: 0px; left: auto; }
.dropdown-menu-sw::before { top: -16px; right: 9px; left: auto; }
.dropdown-menu-sw::after { top: -14px; right: 10px; left: auto; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.facebox { position: absolute; top: 0px; left: 0px; z-index: 100; padding-bottom: 40px; }
.facebox-popup { position: relative; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(27, 31, 35, 0.25); border-radius: 5px; box-shadow: 0px 0px 18px rgba(27, 31, 35, 0.4); }
.facebox-content { width: 455px; padding: 15px; }
.facebox-content::before { display: table; content: ""; }
.facebox-content::after { display: table; clear: both; content: ""; }
@media (min-width: 768px) {
}
.facebox-close { position: absolute; top: 8px; right: 5px; padding: 10px; cursor: pointer; background-color: transparent; border: 0px none; opacity: 0.25; -moz-appearance: none; }
.facebox-close:hover { opacity: 1; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.facebox-header { padding: 15px; margin: -15px -15px 15px; font-size: 18px; font-weight: normal; border-bottom: 1px solid rgb(225, 228, 232); }
.facebox-header:focus { outline: medium none; }
.facebox-user-list-item { padding: 3px 0px; font-weight: 600; vertical-align: middle; list-style: outside none none; }
.facebox-user-list-item a { color: rgb(36, 41, 46); }
.facebox-user-list-item img { margin-right: 5px; vertical-align: middle; border-radius: 3px; }
.flash-banner { position: fixed; top: 0px; z-index: 42; width: 100%; border-top: 0px none; border-right: 0px none; border-left: 0px none; border-radius: 0px; }
.signed-in-tab-flash, .signed-out-tab-flash { display: none; }
.site-footer { position: relative; padding-top: 40px; padding-bottom: 40px; margin-top: 40px; font-size: 12px; line-height: 1.5; color: rgb(88, 96, 105); border-top: 1px solid rgb(234, 236, 239); }
.site-footer::before { display: table; content: ""; }
.site-footer::after { display: table; clear: both; content: ""; }
.site-footer .octicon-mark-github { position: absolute; top: 38px; left: 50%; margin-left: -12px; font-size: 24px; color: rgb(198, 203, 209); }
.site-footer .octicon-mark-github:hover { color: rgb(149, 157, 165); }
.site-footer-links { margin: 0px; list-style: outside none none; }
.site-footer-links li { display: inline-block; line-height: 16px; }
.site-footer-links li + li { margin-left: 10px; }
body { min-width: 1020px; overflow-wrap: break-word; }
@keyframes ellipsis {
0% { width: 2px; }
100% { width: 12px; }
}
@keyframes ellipsis {
0% { width: 2px; }
100% { width: 12px; }
}
.user-mention, .team-mention { font-weight: 600; color: rgb(36, 41, 46); white-space: nowrap; }
.pagehead { position: relative; padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid rgb(225, 228, 232); }
.pagehead ul.pagehead-actions { position: relative; z-index: 31; float: right; margin: 0px; }
.pagehead .path-divider { margin: 0px 0.25em; }
.pagehead h1 { margin-top: 0px; margin-bottom: 0px; font-size: 20px; font-weight: normal; line-height: 28px; }
.pagehead-actions > li { float: left; margin: 0px 10px 0px 0px; font-size: 11px; color: rgb(36, 41, 46); list-style-type: none; }
.pagehead-actions > li:last-child { margin-right: 0px; }
.pagehead-actions .octicon-mute { color: rgb(203, 36, 49); }
.pagehead-actions .select-menu { position: relative; }
.pagehead-actions .select-menu::before { display: table; content: ""; }
.pagehead-actions .select-menu::after { display: table; clear: both; content: ""; }
.pagehead-actions .select-menu-modal-holder { top: 100%; }
.repohead.experiment-repo-nav { padding-bottom: 0px; background-color: rgb(250, 251, 252); }
.repohead .repohead-details-container { margin-bottom: 20px; }
.repohead h1 { position: relative; float: left; max-width: 635px; padding-left: 18px; font-size: 18px; line-height: 26px; color: rgb(88, 96, 105); }
.repohead h1 .octicon { position: absolute; top: 0px; left: 0px; margin-top: 5px; color: rgb(149, 157, 165); }
.reponav { position: relative; top: 1px; margin-top: -5px; }
.reponav::before { display: table; content: ""; }
.reponav::after { display: table; clear: both; content: ""; }
.reponav-dropdown { position: relative; float: left; }
.reponav-item { float: left; padding: 7px 15px 8px; color: rgb(88, 96, 105); white-space: nowrap; border-style: solid; border-color: transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 3px 1px 1px; border-radius: 3px 3px 0px 0px; }
.reponav-item .octicon { color: rgba(27, 31, 35, 0.3); }
.reponav-item .Counter { color: rgb(68, 77, 86); }
.reponav-item:hover, .reponav-item:focus { color: rgb(36, 41, 46); text-decoration: none; }
.reponav-item.selected { color: rgb(36, 41, 46); background-color: rgb(255, 255, 255); border-color: rgb(227, 98, 9) rgb(225, 228, 232) transparent; }
.reponav-item.selected > .octicon { color: inherit; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.select-menu-button::after { display: inline-block; width: 0px; height: 0px; vertical-align: -2px; content: ""; border-width: 4px; border-style: solid; border-color: currentcolor transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.select-menu-modal-holder { position: absolute; z-index: 30; display: none; }
.select-menu-modal { position: relative; width: 300px; margin-top: 4px; margin-bottom: 20px; overflow: hidden; font-size: 12px; color: rgb(88, 96, 105); background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(27, 31, 35, 0.15); border-radius: 3px; box-shadow: 0px 3px 12px rgba(27, 31, 35, 0.15); }
.select-menu-header, .select-menu-divider { padding: 8px 10px; line-height: 16px; background: rgb(246, 248, 250) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(225, 228, 232); }
.select-menu-header .select-menu-title, .select-menu-divider { font-weight: 600; color: rgb(36, 41, 46); }
.select-menu-header .close-button, .select-menu-header .octicon { display: block; float: right; color: rgb(198, 203, 209); cursor: pointer; }
.select-menu-header .close-button:hover, .select-menu-header .octicon:hover { color: rgb(68, 77, 86); }
.select-menu-header:focus { outline: medium none; }
.select-menu-filters { background-color: rgb(246, 248, 250); }
.select-menu-text-filter { padding: 10px 10px 0px; }
.select-menu-text-filter:first-child:last-child { padding-bottom: 10px; border-bottom: 1px solid rgb(223, 226, 229); }
.select-menu-text-filter input { display: block; width: 100%; max-width: 100%; padding: 5px; border: 1px solid rgb(223, 226, 229); border-radius: 3px; }
.select-menu-text-filter input::-moz-placeholder { color: rgb(163, 170, 177); }
.select-menu-text-filter input::placeholder { color: rgb(163, 170, 177); }
.select-menu-tabs { padding: 10px 10px 0px; border-bottom: 1px solid rgb(223, 226, 229); }
.select-menu-tabs ul { position: relative; bottom: -1px; }
.select-menu-tabs .select-menu-tab { display: inline-block; }
.select-menu-tabs a, .select-menu-tabs .select-menu-tab-nav { display: inline-block; padding: 4px 8px 2px; font-size: 11px; font-weight: 600; color: rgb(106, 115, 125); text-decoration: none; cursor: pointer; background: transparent none repeat scroll 0% 0%; border: 1px solid transparent; border-radius: 3px 3px 0px 0px; }
.select-menu-tabs a:hover, .select-menu-tabs .select-menu-tab-nav:hover { color: rgb(36, 41, 46); }
.select-menu-list { position: relative; max-height: 400px; overflow: auto; }
.select-menu-list.select-menu-tab-bucket { display: none; }
.select-menu-item { display: block; padding: 8px 8px 8px 30px; overflow: hidden; color: inherit; cursor: pointer; border-bottom: 1px solid rgb(234, 236, 239); }
.select-menu-item:hover { text-decoration: none; }
.select-menu-item .octicon { vertical-align: middle; }
.select-menu-item .octicon-check { visibility: hidden; }
.select-menu-item input[type="radio"] { display: none; }
.select-menu-item.selected { color: rgb(36, 41, 46); }
.select-menu-item.selected .description { color: rgb(88, 96, 105); }
.select-menu-item.selected > .octicon { color: rgb(36, 41, 46); }
.select-menu-item.selected .octicon-check { color: inherit; visibility: visible; }
.select-menu-item .hidden-select-button-text { display: none; }
.select-menu-item .css-truncate-target { max-width: 100%; }
.select-menu-item-icon { float: left; margin-left: -20px; }
.select-menu-list:last-child .select-menu-item:last-child, .select-menu-item.last-visible { border-bottom: 0px none; border-radius: 0px 0px 3px 3px; }
.select-menu-no-results { display: none; padding: 9px; color: rgb(88, 96, 105); cursor: auto; }
.select-menu-list.filterable-empty .select-menu-no-results, .select-menu-no-results:only-child { display: block; }
.select-menu-item-text { display: block; text-align: left; }
.select-menu-item-text .description { display: block; max-width: 265px; font-size: 12px; color: rgb(88, 96, 105); }
.select-menu-item-heading { display: block; margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-weight: 600; }
.modal-backdrop { display: none; -moz-user-select: none; }
@keyframes rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(-360deg); }
}
@keyframes rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(-360deg); }
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.select-menu-item { text-align: left; background-color: rgb(255, 255, 255); border-top: 0px none; border-right: 0px none; border-left: 0px none; }
@keyframes broadCastMaskFade {
0% { opacity: 0; }
30% { opacity: 1; }
70% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes broadCastMaskFade {
0% { opacity: 0; }
30% { opacity: 1; }
70% { opacity: 1; }
100% { opacity: 0; }
}
.file { position: relative; margin-top: 16px; margin-bottom: 16px; border: 1px solid rgb(221, 221, 221); border-radius: 3px; }
.file-header { padding: 5px 10px; background-color: rgb(250, 251, 252); border-bottom: 1px solid rgb(225, 228, 232); border-top-left-radius: 2px; border-top-right-radius: 2px; }
.file-header::before { display: table; content: ""; }
.file-header::after { display: table; clear: both; content: ""; }
.file-actions { float: right; padding-top: 2px; font-size: 13px; }
.file-info { font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 12px; line-height: 32px; }
.file-info-divider { display: inline-block; width: 1px; height: 18px; margin-right: 3px; margin-left: 3px; vertical-align: middle; background-color: rgb(221, 221, 221); }
.header-search { float: left; }
.header-search-wrapper { display: table; width: 100%; max-width: 100%; min-height: 0px; padding: 0px; font-weight: normal; vertical-align: middle; }
.header-search-input { display: table-cell; width: 99.999%; min-height: 26px; padding-top: 0px; padding-bottom: 0px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: 0px none; box-shadow: none; }
.header-search-input:focus { border: 0px none; box-shadow: none; }
.header-search-scope { display: none; width: 1%; padding-right: 8px; padding-left: 8px; font-size: 12px; color: rgb(88, 96, 105); white-space: nowrap; vertical-align: middle; border-right: 1px solid rgb(234, 236, 239); border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.header-search-scope:empty + .header-search-input { width: 100%; }
.header-search-scope:hover { color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.12); }
.scoped-search .header-search-scope { display: table-cell; }
.header { padding-top: 12px; padding-bottom: 12px; color: rgba(255, 255, 255, 0.75); background-color: rgb(36, 41, 46); }
.header .header-search { width: 300px; margin-right: 10px; font-size: 13px; }
.header .header-search-scope { font-size: inherit; line-height: 28px; color: rgba(255, 255, 255, 0.75); border-right-color: rgb(40, 46, 52); }
.header .header-search-wrapper { min-height: 30px; font-size: inherit; color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.125); border: 0px none; box-shadow: none; }
.header .header-search-input { min-height: 30px; font-size: inherit; color: inherit; }
.header .header-search-input::-moz-placeholder { color: rgba(255, 255, 255, 0.75); }
.header .header-search-input::placeholder { color: rgba(255, 255, 255, 0.75); }
.header-logo-invertocat { float: left; margin: -1px 15px -1px -2px; color: rgb(255, 255, 255); white-space: nowrap; }
.header-logo-invertocat .octicon-mark-github { float: left; }
.header-logo-invertocat:hover { color: rgb(255, 255, 255); text-decoration: none; }
.header-nav { list-style: outside none none; }
.header-nav-item { float: left; }
.header-nav-item .dropdown-menu { width: 180px; margin-top: 15px; }
.header-nav-link { display: block; padding: 5px 8px; font-weight: 600; line-height: 20px; color: rgba(255, 255, 255, 0.75); }
.header-nav-link:hover, .header-nav-link:focus { color: rgb(255, 255, 255); text-decoration: none; }
.header-nav-link:hover .dropdown-caret, .header-nav-link:focus .dropdown-caret { border-top-color: rgb(255, 255, 255); }
.user-nav { margin-right: -8px; }
.user-nav .header-nav-link { height: 30px; }
.user-nav .octicon { width: 16px; margin-top: 1px; }
.user-nav .octicon-plus { margin-right: 1px; }
.user-nav .avatar { float: left; margin-right: 5px; }
.header-nav-current-user { padding-bottom: 0px; font-size: inherit; }
.header-nav-current-user .css-truncate-target { max-width: 100%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 544px) {
}
@media (min-width: 1441px) {
}
.pjax-loader-bar { position: fixed; top: 0px; left: 0px; z-index: 40; opacity: 0; transition: opacity 0.4s linear 0.4s; }
.pjax-loader-bar .progress { position: fixed; top: 0px; left: 0px; height: 2px; background: rgb(119, 182, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 10px rgba(119, 182, 255, 0.7); transition: width 0.4s ease 0s; }
@keyframes highlight-card {
0% { border-color: rgb(81, 167, 232); box-shadow: 0px 0px 5px rgba(81, 167, 232, 0.7); }
100% { border-color: rgb(225, 228, 232); box-shadow: 0px 0px 5px rgba(81, 167, 232, 0); }
}
@keyframes highlight-card {
0% { border-color: rgb(81, 167, 232); box-shadow: 0px 0px 5px rgba(81, 167, 232, 0.7); }
100% { border-color: rgb(225, 228, 232); box-shadow: 0px 0px 5px rgba(81, 167, 232, 0); }
}
@keyframes show-pane {
0% { transform: translateX(390px); }
100% { transform: translateX(0px); }
}
@keyframes show-pane {
0% { transform: translateX(390px); }
100% { transform: translateX(0px); }
}
.readme .markdown-body, .readme .plain { padding: 45px; overflow-wrap: break-word; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.file .readme .markdown-body { padding: 45px; border: 0px none; border-radius: 0px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.file-navigation::before { display: table; content: ""; }
.file-navigation::after { display: table; clear: both; content: ""; }
.file-navigation .select-menu-button .css-truncate-target { max-width: 200px; }
.file-navigation .branch-select-menu { margin-right: 6px; margin-bottom: 10px; }
.file-navigation .breadcrumb { float: left; margin-top: 0px; margin-left: 5px; font-size: 16px; line-height: 26px; }
.file-navigation .BtnGroup { margin-bottom: 10px; margin-left: 10px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@keyframes toggle-color {
0% { background-color: transparent; }
50% { color: rgb(76, 74, 66); background-color: rgb(255, 249, 234); border-color: rgb(223, 216, 194); }
100% { background-color: transparent; }
}
@keyframes toggle-color {
0% { background-color: transparent; }
50% { color: rgb(76, 74, 66); background-color: rgb(255, 249, 234); border-color: rgb(223, 216, 194); }
100% { background-color: transparent; }
}
